/* 1. Importamos las variables (Sass moderno) */
@use 'styles/variables' as *;

/* 2. Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 3. APLICACIÓN DE LA FUENTE (Aquí arreglamos el problema) */
html, body {
  height: 100%;
  width: 100%;
  
  /* Forzamos la fuente en todo el documento */
  font-family: var(--font-main); 
  color: var(--color-text-main);
  background-color: var(--color-bg);
  
  /* Suavizado de fuente para que se vea premium (Apple style) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 4. Aseguramos que los títulos también usen la fuente */
h1, h2, h3, h4, h5, h6, button, input, textarea {
  font-family: var(--font-main);
}

/* Clases utilitarias */
.text-gradient {
  background: linear-gradient(90deg, var(--qrl-blue) 0%, var(--qrl-green) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
}


/* Estilos base de Swiper */

@import 'aos/dist/aos.css';